body {
    background-color: #eef9bf;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    font-family: "Roboto", "sans serif";
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    margin-top: 40px;
    margin-bottom: 40px;

}


.cartas {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.carta {
    width: 117px;
    height: 146px;
    margin: 17px;
    position: relative;
}

.carta-fora {
    display: none;
}

img {
    width: 100px;
    height: 100px;
}

.face {
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .3s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}


.clicado .back-face {
    transform: rotateY(0deg);
}

.clicado .front-face {
    transform: rotateY(-180deg);
}

time {
    position: fixed;
    right: 10px;
    top: 5px;

    width: 100px;
    height: 40px;
    background-color: black;
    border-radius: 20px;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;


}