body {
    background-color: #eef9bf;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    font-family: "Roboto", "sans serif";
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    margin-top: 40px;
    margin-bottom: 40px;

}


.cartas {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.carta {
    width: 117px;
    height: 146px;
    left: 122px;
    top: 150px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 17px;
}

img {
    width: 100px;
    height: 100px;
}